/*global start*/
li {
  list-style: none;
}

a,
button {
  font-family: "Poppins", sans-serif;
}

.primary-btn a {
  background-color: #be2d32;
  color: #fff;
  font-family: "Poppins", sans-serif;
  border: 1px solid #be2d32;
  border-radius: 5px;
  transition: all 0.2s linear;
  display: inline-block;
  padding: 0.8rem 4rem;
  text-transform: capitalize;
}
.primary-btn a:hover {
  background-color: #222;
  border: 1px solid #222;
  color: #fff;
}

.banner {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.banner::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.65);
  z-index: 0;
  height: 450px;
}

.bannertitle {
  z-index: 1;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  width: 100%;
  text-align: center;
}

p {
  font-size: 16px;
  font-weight: 400;
  line-height: 27px;
  color: #4d4d4d;
  font-family: "Poppins", sans-serif;
}
@media screen and (max-width: 768px) {
  p {
    font-size: 15px;
  }
}

h1 {
  font-size: 50px;
  font-weight: 500;
  color: #fff;
  font-family: "Cuprum", sans-serif;
}
@media screen and (max-width: 768px) {
  h1 {
    font-size: 35px;
  }
}

h2 {
  font-size: 40px;
  line-height: normal;
  font-weight: 500;
  color: #0C0B0B;
  font-family: "Cuprum", sans-serif;
  margin: 30px 0;
  text-align: center;
}
@media screen and (max-width: 768px) {
  h2 {
    font-size: 24px;
  }
}

h3 {
  font-size: 26px;
  line-height: normal;
  font-weight: 500;
  color: #0C0B0B;
  font-family: "Cuprum", sans-serif;
}
@media screen and (max-width: 768px) {
  h3 {
    font-size: 19px;
  }
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-size: 1.6rem;
  font-family: "Roboto Slab", serif;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

a:focus {
  color: inherit;
}

html {
  font-size: 62.5%;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  width: 100%;
}

/*global end*/
/*header start*/
header.site-header {
  background: transparent;
  font-size: 18px;
  padding: 14px 0;
  font-weight: 700;
  text-transform: capitalize;
  color: #000000;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  width: 100%;
  transition: 0.3s;
}

header.site-header.sticky {
  background: #222;
  animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
  padding: 10px 0;
  position: fixed;
}

.site-header .site-nav ul li a.active {
  color: #be2d32;
}

.site-logo img {
  width: 100%;
  max-width: 300px;
}

.site-nav a {
  padding: 8px 12px !important;
  display: inline-block;
  font-weight: 500;
  color: #fff;
}
.site-nav a:hover {
  color: #be2d32;
}

.site-header {
  padding: 10px 0;
}

.site-header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.site-nav ul {
  display: flex;
  align-items: center;
}

.closed-menu {
  display: none;
}

.menu-toggle {
  display: none !important;
}

/*header end*/
/*footer-css-start*/
.footer {
  background: #222;
  padding: 50px 0;
}
.footer-logo img {
  max-width: 250px;
}
.footer-links h2 {
  color: #fff;
}
.footer-links h3 {
  color: #fff;
  font-size: 25px;
}
.footer-links li a {
  color: #fff;
}
.footer-links li a:hover {
  color: #be2d32;
}
.footer-adresse h2 {
  color: #fff;
}
.footer-adresse h3 {
  color: #fff;
  font-size: 25px;
}
.footer-adresse p {
  color: #fff;
}
.footer-mails a,
.footer-mails i {
  color: #fff;
}

.social-signals {
  padding: 25px 0;
}
.social-signals i {
  color: #be2d32;
  font-size: 24px;
  text-align: center;
  line-height: 40px;
  margin: 0 10px;
  border: 1px solid #fff;
  border-radius: 30px;
  height: 40px;
  width: 40px;
  transition: 0.3s linear;
}
.social-signals i:hover {
  transform: translateY(-10px);
  color: #fff;
}

.social-signals img {
  max-width: 40px;
  height: 40px;
  border: 1px solid #fff;
  border-radius: 40px;
  margin-top: -8px;
  transition: 0.3s linear;
}
.social-signals img:hover {
  transform: translateY(-10px);
}

/*footer-css-end*/
/*home-css-start*/
.homebanner.banner {
  background-image: url(../images/homebanner.jpeg);
  height: 550px;
  position: relative;
}
.homebanner.banner::after {
  height: 550px;
}

.toptext {
  padding: 30px 0 0 0;
}

.hotelscard h2 {
  text-align: center;
}
.hotelscard .box {
  position: relative;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  height: 100%;
}
.hotelscard .box .content-box {
  transition: all 0.3s ease;
  background-color: #fff;
  margin: 0 auto;
  border-radius: 8px;
}
.hotelscard .box .content-box h3 {
  color: #be2d32;
  font-weight: 700;
}
.hotelscard .box .content-box p {
  color: #0C0B0B;
  text-align: left;
}
.hotelscard .box .content-box span {
  font-weight: 700;
  font-size: 18px;
}
.hotelscard .box img {
  height: 250px;
  width: 100%;
  object-fit: cover;
  transition: all 0.3s ease;
}

.col-sm-12.col-md-6.col-lg-6.outer {
  margin-bottom: 25px;
}

/*Start Faq css*/
.faq-page {
  width: 100%;
  background-color: #222 !important;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.casino-text.hoteli {
  padding: 0 0 50px 0 !important;
}

.faq-item {
  padding: 20px;
  border-bottom: 1px solid #e0e0e0;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.faq-item:last-child {
  border-bottom: none;
}

.faq-question {
  font-size: 16px;
  line-height: 25px;
  color: #fff;
  font-weight: 700;
  font-family: "Cuprum";
}

.faq-section {
  padding-bottom: 50PX;
}

.faq-answer {
  font-size: 16px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
  padding-left: 10px;
  padding-right: 10px;
}
.faq-answer p {
  padding-top: 25px;
  padding-bottom: 25px;
  color: #efefef;
}

.faq-answer.active {
  border-bottom: 1px solid #e0e0e0;
}

.icon-container i {
  font-size: 16px;
  cursor: pointer;
  color: #efefef;
  transition: transform 0.3s ease-in-out;
}

.icon-container i.active {
  transform: rotate(90deg);
}

/*End Faq css*/
/*cookie start*/
.cookie-alert {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100%;
  margin: 0 !important;
  z-index: 999;
  opacity: 0;
  transform: translateY(100%);
  transition: all 500ms ease-out;
  left: 0;
}

.cookie-alert.show {
  opacity: 1;
  transform: translateY(0%);
  transition-delay: 1000ms;
}

a.btn.btn-primary.accept-cookies {
  background: #be2d32;
  color: #fff;
  padding: 6px 22px;
  font-size: 20px;
  border: 1px solid #be2d32;
  font-family: "Cuprum";
}

/*cookie end*/
/*home-css-end*/
/*about-css-start*/
.aboutbanner.banner {
  background-image: url(../images/aboutbanner.jpg);
  height: 450px;
  position: relative;
}

.contact-form .about_us_content {
  margin: 0 0 30px 0;
}
.contact-form .about_us_content h2 {
  margin: 30px 0 !important;
}

.contact-form .form-group {
  margin-bottom: 2rem;
}

.contact-form .input-control {
  display: block;
  width: 100%;
  height: 4rem;
  border: 1px solid #222;
  padding: 2rem 2rem;
  background: transparent;
  color: #0C0B0B;
}

.contact-form .input-control:focus-visible {
  outline: none;
}

.contact-form textarea.input-control {
  resize: none;
  height: auto;
}

.contact-form .form-group .submit-btn {
  background: #be2d32;
  border: 1px solid #be2d32;
  transition: all 0.2s linear;
  display: inline-block;
  padding: 0.8rem 4rem;
  color: #222;
  text-transform: capitalize;
}
.contact-form .form-group .submit-btn:hover {
  background-color: transparent;
  color: #0C0B0B;
}

.contact-form .form-group label {
  display: inline-block;
  padding-bottom: 5px;
  color: #222;
  transition: all 0.2s linear;
  font-family: "Cuprum";
  text-transform: capitalize;
  font-size: 18px;
}

/*about-css-end*/
/*deals-css-start*/
.dealsbanner.banner {
  background-image: url(../images/dealbanner.jpg);
  height: 450px;
  position: relative;
}

.deal-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
.dealmain {
  padding: 50px 0 0 0;
}
.deal-inner {
  padding: 50px 30px;
  background: #222;
}
.deal-inner img {
  max-width: 50px;
  height: 50px;
  object-fit: cover;
  margin-bottom: 20px;
}
.deal-inner h3 {
  color: #be2d32;
}
.deal-inner p {
  color: #fff;
}

.lasvegas .row {
  row-gap: 20px;
}

/*deals-css-end*/
/*privacy-policy start*/
.privacy__section.banner {
  background-image: url(../images/privacybanner.jpg);
  margin-top: 0;
  isolation: isolate;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 450px;
}
.privacy__section.banner::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.55);
  z-index: -1;
  height: 450px;
}

.privacy-policy {
  padding: 40px 0;
}
.privacy-policy .content-wrap li {
  font-size: 16px;
}
.privacy-policy .content-wrap h3 {
  color: #be2d32;
}
.privacy-policy .content-wrap p {
  color: #0C0B0B;
  font-size: 16px;
  line-height: 25px;
}

.terms__section.banner {
  background-image: url(../images/termsbanner.jpg);
  margin-top: 0;
  isolation: isolate;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 450px;
}
.terms__section.banner::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.55);
  z-index: -1;
  height: 450px;
}

.terms {
  padding: 40px 0;
}
.terms .content-wrap li {
  font-size: 16px;
}
.terms .content-wrap p {
  color: #0C0B0B;
  font-size: 16px;
  line-height: 25px;
}
.terms .content-wrap h3 {
  color: #be2d32;
}

/*privacy-policy end*/


/*# sourceMappingURL=style.css.map */
